@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared styles */
.display-flex {
  display: flex;
  list-style: none;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
}
/* For different color we can declare class in shared style section also declare in different part of the code like
 Dark-02 for menu content click on # before paste the color code*/
.black-color {
  color: #131313;
}
.text-gray {
  color: #424242;
}
/* Dark-03 */
.text-light-gray {
  color: #727272;
}
/* Orange color */
.orange-color {
  color: #ff900e;
  font-weight: 600;
}
/* Background color/Primary background color, for the opacity base or less than 100%  color need
 to select css and select rgba color-code*/
/* for primary backgroung color added in header class*/
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
/* Navbar Related Styles */

.navbar {
  justify-content: space-between;
  align-items: center;
}
/* though brand name and menu items name are not same size make problem
in navbar alignment need to add item alignment in navbar section,
To fix this, please add align item -center in the navbar section */

/* for font size better to use rem rather than pixel 1 rem= 16px,
based on this we can calculate like 45px= almost 3 rem. */
.brand {
  font-size: 3rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.navbar .banner {
  max-width: 1440px;
  margin: 0, auto;
}

/* Banner Related Styles */

/* margin up-down -0 and l r-auto */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-image {
  width: 100%;
}
/* Teams and features related styles */
.teams {
  text-align: center;
  /* font-size: 3rem;
    font-weight: 600; */
}
.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 130px;
  max-width: 537px;
}
.feature-title {
  font-size: 2.8rem;
}
.feature-title-f {
  font-size: 1.4rem;
}
#quick-list {
  font-weight: 700;
}
/* Fact section Design */
.fact-description {
  max-width: 540px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.facts-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  height: 240px;
  width: 240px;
  align-items: center;
  text-align: center;
}
.fact-number {
  font-weight: 600px;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  align-items: center;
}
.fact-name {
  font-weight: 600px;
  font-size: 1.4rem;
  margin-top: 10px;
  color: #424242;
  text-align: center;
  align-items: center;
}
/* Sponsor section styles */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
  filter: grayscale(100%);
}
/* Feature section related Design */
#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -92px;
  margin-top: -77px;
}
#experience-year {
  font-size: 4rem;
  font-weight: 700;
  /* max-width: 345px;
  height: 200px; */
  color: #ffffff;
}
.featured-side-banner img {
  width: 100%;
}
.feature-card {
  width: 586px;
  height: 171px;
  background-color: #ffffff;
}

/* Responsive WEb design for mobile*/
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .teams,
  .feature {
    flex-direction: column;
  }
  .teams-image-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: 1fr;
  }
  .facts-container {
    justify-content: center;
    gap: 24px;
  }
  .sponsor-companies {
    justify-items: center;
    gap: 50px;
  }
  .our-features {
    margin-left: 20px;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* Responsive for medium device WEb design */
@media screen and(min-width:576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 50px auto;
  }

  .sponsor-companies,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
}
